@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

:root {
  --color: #20b2aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--color);
}

.container {
  width: 605px;
  background: #ffffff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.5);
  border: 10px solid var(--2color);
}

.container header {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

header,
.main :where(i, p, span) {
  color: rgb(18, 18, 69);
}

.container .main {
  margin: 35px 0;
}

.main .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area i {
  font-size: 12px;
}

.quote-area i:first-child {
  margin: -2px 10px 0 0;
}

.quote-area i:last-child {
  display: flex;
  margin: -2px 0 13px 10px;
  align-items: flex-end;
}

.quote-area .quote {
  font-size: 23px;
  text-align: center;
}

.main .author {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
  font-style: italic;
  font-weight: bold;
  justify-content: flex-end;
}

.author span:first-child {
  margin: -13px 5px 0 0;
  font-family: monospace;
}

.container .buttons {
  border-top: 1px solid rgb(188, 184, 184);
}

.buttons .features {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.features ul {
  display: flex;
}

.features ul li {
  margin: 0 5px;
  height: 45px;
  width: 45px;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  border-radius: 50%;
  border: 2px solid var(--color);
  transition: all 0.3s ease-in-out;
}

.features ul li:first-child {
  margin-left: 0;
}

ul li:is(:hover, .active) {
  color: #ffffff;
  background: var(--color);
}

ul .speech.active {
  pointer-events: none;
}

.copied-box {
  background: black;
  width: 55px;
  height: 18px;
  position: relative;
  top: -35px;
  right: 186px;
  margin: 3px;
  opacity: 0.5;
  border-radius: 10px;
}

.copied-box::before {
  content: "copied";
  color: #ffffff;
  padding: 0 3px;
}

.buttons button {
  border: none;
  color: #ffffff;
  background: var(--color);
  border-radius: 30px;
  outline: none;
  padding: 14px 22px;
  font-size: 17px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons button:hover {
  transform: scale(1.1);
}

.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}


@media(max-width:574px){
    .copied-box {
        right: 170px;
    }
}

@media(max-width:426px){
    .copied-box {
        right: 115px;
    }
}
